.google-btn {
    padding: 5px 20px;
    width: 350px;
    margin-top: 5px;
    border-radius: 30px;
    border: none;
    box-shadow: 
    0 0  0 1px rgb(255, 255, 255),
    0.3em 0.3em .3em rgba(39, 39, 39, 0.3);
    
}
.google-btn .gIcon{
    color: #da7b00;
}


button img{
    width: 25px;
    margin-right: 20px;

}
.login-container{
    text-align: center;
    /* margin: 50px 0px; */
    margin-bottom: 0px;
   
}

.formContainer{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 70px 0px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.formContainer h5{
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
}
form input{
    width: 350px;
    margin-bottom: 15px;
    padding: 5px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
#submitBtn{
    border: none;
    background: #707070;
    color: white
}
#submitBtn:hover{
    border: none;
    background: #da7b00;
    color: white
}

.loginToggle strong{
    cursor: pointer;
    color: #da7b00;
}
.loginImg{
    width: 525px;
}


@media(max-width:768px){
    .loginImg{
        margin-top: 50px;
    }
    .or{
        color: #707070 !important;
    }
}