/* .testimonials .container{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
} */
.testimonials{
    margin-top: 80px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}
.testimonial-header{
    text-align: center;
    width: 450px;
    margin: auto;
}
.testimonial-header h3{
    color: #da7b00;
    font-weight: 700;
}
.testimonial-header p{
    color: #7a7a7a;
}
.clientSays{
    color: #da7b00;
    font-family: sans-serif;
    font-weight: 700;
}
.clientSays span{
    color: #707070;
}
@media(max-width: 768px){
    .testimonial-header{
        width: 350px;
    }
    
}