.headerMain-container{
    margin-top: 120px;
}
.headerMain-dtl{
    color: #da7b00;
}
.headerMain-dtl h2{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
}
.headerMain-dtl h2 span{
    font-size: 30px;
    font-weight: 700;
}

.headerMain-dtl p{
    color: #f1f1f1;
    font-weight: 500;
    margin-top: 10px;
}
.getAppointmentBtn{
    padding: 10px 30px;
    background: #da7b00;
    color: white;
    border: none;
    border-radius: 5px;
    
    transition: all .1s ease-in;
}
.getAppointmentBtn:hover{
    background: #444444;
}
.showCase-img{
    width:350px;
    height: 420px;
    margin-left: auto;
    background-color: #d6dbde;
    z-index: 100;
    position: relative;
    overflow: hidden;
    padding: 10px;
    box-shadow: 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.showCase-img img{
    height: 450px;
    
}

@media(max-width:768px){
    .headerMain-dtl{
        text-align: center;
    }

    .showCase-img{
       margin: auto;
       margin-top: 50px;
    }

}