.services-Container{
    margin-top: 80px;
}
.service-title{
    width: 500px;
    margin: auto;
    font-family: sans-serif;
    
}
.service-title h3{
    color: #da7b00;
    font-weight: 700;
}
.service-title p{
    color: #7a7a7a;
    margin-bottom: 30px;
}

@media(max-width: 768px){
    .service-title{
        width: 350px;
    }
    .services-Container{
        margin-top: 80px;
    }
}