.featured-container{
    padding-top: 60px;
    padding-bottom: 40px;
    background: #f3f3f3;
    
}
.feature-title{
    color: #7a7a7a;
}
.feature-title span{
    color: #da7b00;
}
.feature-dec{
    color: #5a5a5a;
}

.count{
    color: #5a5a5a;
}
#countIcon{
    color: #5a5a5a;
    font-size: 30px;
    transition: all 0.5s;
}
.Cp:hover #countIcon,
.Rp:hover #countIcon,
.Hc:hover #countIcon{
    transform: rotateY(360deg);
    color: #da7b00;
}
.LearnMore-btn{
    background: #5a5a5a;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.LearnMore-btn:hover{
    background: #da7b00;
}
.counter{
    font-size: 20px;
    font-weight: 500;
    color: #7a7a7a;
}

.Cp:hover .counter,
.Rp:hover .counter,
.Hc:hover .counter{
    color: #da7b00;
}
.Cp:hover h6,
.Rp:hover h6,
.Hc:hover h6{
    color: #da7b00;
}