.featured-container{
    margin-top: 80px;
    padding-top: 45px;
    padding-bottom: 20px;
    background: #e0e0e0;
    
}
.feature-title{
    color: #707070;
}
.feature-title span{
    color: #da7b00;
}
.feature-dec{
    color: #707070;
}

.count{
    color: #707070;
}
#countIcon{
    color: #707070;
    font-size: 30px;
    transition: all 0.5s;
}
.Cp, .Rp, .Hc, .Aw{
    width: 150px;
}

.Cp:hover #countIcon,
.Rp:hover #countIcon,
.Hc:hover #countIcon,
.Aw:hover #countIcon{
    transform: rotateY(360deg);
    color: #da7b00;
}
.LearnMore-btn{
    background: #707070;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.LearnMore-btn:hover{
    background: #da7b00;
}
.counter{
    font-size: 20px;
    font-weight: 500;
    color: #707070;
}

.Cp:hover .counter,
.Rp:hover .counter,
.Hc:hover .counter,
.Aw:hover .counter{
    color: #da7b00;
}
.Cp:hover h6,
.Rp:hover h6,
.Hc:hover h6,
.Aw:hover h6{
    color: #da7b00;
}


@media(max-width: 768px){
    .Cp, .Rp, .Hc, .Aw{
        width: auto;
        margin-top: 25px;
    }
    .featuresDes{
        margin: auto;
    }
    
}