.sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 5px 0 5px -5px #888;
    
}

.sidebar li{
    margin-bottom: 2em;
    font-weight: 500;
}
.log-out{
    font-weight: 500;
}
.sidebar li span{
    display: inline-block;
    color: rgb(88, 88, 88);
}
.sidebar li:hover span{
    display: inline-block;
    color: #da7b00;
}
.icons, .logout{
    color: rgb(80, 80, 80);
}
.sidebar li:hover .icons,
 .icons:hover,
 .logout:hover{
    color: #da7b00;
}
.sidebar svg{
    margin-right: 5px;
}

@media(max-width: 768px){
    .sidebar{
        position: relative;
        /* margin-left: 20px; */
    }

}